.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #E2E1DE;
}

.back-ground {
  background-color: #00A884;
  height: 20%;
  width: 100%;
  position: absolute;
  top: 0;
}

.chat-container {
  width: 95%;
  max-width: 1700px;
  height: 95%;
  background-color: #fff;
  position: absolute;
  display: flex;
}